@import url("./cards.css");
.time {
  color: red;
}
.box {
  height: 100px;
  width: 100px;
  background: cyan;
}
.box2 {
  height: 100px;
  width: 100px;
  background: rgb(238, 0, 255);
}
.btn {
  margin-right: 30px;
}
h1 {
  text-align: center;
}
